@mixin cluster($justify-content, $space) {
  --space: #{$space};
  overflow: hidden;

  > * {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify-content;
    align-items: center;
    margin: calc(var(--space) / 2 * -1);
  }

  > * > * {
    margin: calc(var(--space) / 2);
  }
}

@mixin stack($margin-top) {
  --space: #{$margin-top};
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  > * + * {
    margin-top: var(--space);
  }
}

@mixin box(
  $padding,
  $color-light,
  $color-dark,
  $border-color,
  $border-thickness
) {
  --border-thin: #{$border-thickness};
  padding: #{$padding};
  border: var(--border-thin) solid #{$border-color};
  --color-light: #($color-light);
  --color-dark: #($color-dark);
  color: var(--color-dark);
  background-color: var(--color-light);

  & * {
    color: inherit;
  }

  &.invert {
    color: var(--color-light);
    background-color: var(--color-dark);
  }
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
