.ng-c-card {
  @include box(0, $ng_color-white, $ng_color-black);
  position: relative;
  display: flex;
  flex-direction: column;
  border: solid 1px $ng_color-gray-10;

  &.ng-c-card--featured {
    border: none;
  }
}

.ng-c-card--featured {
  min-height: 423px;
  margin-left: calc(var(--s0) * -1);
  margin-right: calc(var(--s0) * -1);
  color: var(--color-light);

  @media (min-width: 547px) {
    grid-column: 1 / 3;
  }

  @media #{$ng_bp-md} {
    margin-left: 0;
    margin-right: 0;
  }

  .ng-c-card__figure {
    &::after {
      all: initial;
    }
  }

  .ng-c-card__body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.ng-c-card__body {
  --space: var(--s0);
  @include stack(var(--space));
  padding: var(--space);
}

.ng-c-card__title {
  line-height: 1.211;

  .ng-c-card--featured & {
    font-size: var(--s2);
  }

  a {
    text-decoration: none;
    @include truncate-overflow(3);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.ng-c-card__subtitle {
  position: relative;
  font-size: 0.75em;
  font-weight: 500;
  text-transform: uppercase;
  z-index: 1;

  a {
    text-decoration: none;
    letter-spacing: 3px;
  }

  :not(.ng-c-card--featured) > .ng-c-card__body > & {
    color: $ng_color-gray-40;
  }
}

.ng-c-card__figure {
  flex-grow: 1;
  height: 15rem;
  overflow: hidden;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 5px;
    transform: translate3d(0, 100%, 0);
    background-color: $ng_color-primary;
    transition: transform $ng-transition-timing ease-in-out;

    .ng-c-card:hover & {
      transform: translate3d(0, 0, 0);
    }
  }

  .ng-c-card__image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: transform $ng-transition-timing ease-in-out;

    .ng-c-card:hover & {
      transform: scale(1.08);
    }
  }
}
