.ng-g-footer {
  --footer-v-padding: var(--s3);
  padding-top: var(--footer-v-padding);
  padding-bottom: var(--footer-v-padding);
  background-color: $ng_color-black;
  color: $ng_color-white;
  flex-shrink: 0;

  &__grid {
    @include grid($gutter-sm: var(--s2), $col-min-width: 150px);
    > div {
      @include stack(var(--s-1));
    }
  }

  &__heading {
    font-size: calc(var(--s0) / 1.3);
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  &__list {
    @extend %ng-o-list-bare;
    @include stack(var(--s-2));
    padding: 0;

    a {
      color: $ng_color-white;
      font-size: calc(var(--s0) / 1.2);
      text-decoration: none;
      // font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__icons {
    @include cluster(space-between, var(--s-1));
    width: 40%;

    @media #{$ng_bp-md} {
      width: 60%;
    }

    @media #{$ng_bp-lg} {
      width: 80%;
    }

    a {
      font-size: var(--s1);

      svg path {
        fill: none;
      }
    }

    a svg:hover {
      filter: invert(0.4) sepia(1) saturate(20) hue-rotate(0deg) brightness(1.2);
    }
  }
}
