.ng-l-container {
  --continer-gap: var(--s0);
  --padding: var(--s0);
  padding-left: var(--padding);
  padding-right: var(--padding);
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  &--stack {
    @include stack(var(--continer-gap));
  }

  @media #{$ng_bp-md} {
    --continer-gap: var(--s2);
    --padding: var(--s1);
    max-width: 730px;
  }

  @media #{$ng_bp-lg} {
    max-width: 1020px;
  }
}

.ng-g-main {
  --main-space: var(--s0);
  @include stack(var(--main-space));
  flex: 1 0 auto;

  @media #{$ng_bp-md} {
    --main-space: var(--s1);
  }

  @media #{$ng_bp-lg} {
    --main-space: var(--s2);
  }
}

.ng-l-grid {
  @include grid();
}

.ng-l-center {
  @include center();

  &--center-content {
    @include center($intrinsic-center: true);
  }
}

.ng-l-cta-block {
  --cta-block-space: var(--s2);
  padding-top: var(--cta-block-space);
  padding-bottom: var(--cta-block-space);

  // @media #{$ng_bp-md} {
  //   --cta-block-space: var(--s3);
  // }
}

.ng-l-content-block {
  --content-block-space: var(--s1);
  padding-bottom: var(--content-block-space);

  @media #{$ng_bp-md} {
    --content-block-space: var(--s3);
  }
}

.ng-l-section {
  --section-v-padding: var(--s1);
  padding-top: var(--section-v-padding);
  padding-bottom: var(--section-v-padding);

  @media #{$ng_bp-md} {
    --section-v-padding: var(--s3);
  }

  &--inverted {
    color: $ng_color-white;
    background: $ng_color-black;
  }
}
