.ng-g-container {
  padding-left: var(--s0);
  padding-right: var(--s0);
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media #{$ng_bp-md} {
    max-width: 730px;
  }

  @media #{$ng_bp-lg} {
    max-width: 1020px;
  }
}

.ng-g-main {
  @include stack(var(--s1));
  flex: 1 0 auto;
}
