.ng-g-container {
  padding-left: var(--s1);
  padding-right: var(--s1);
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media #{$ng_bp-md} {
    max-width: 730px;
  }

  @media #{$ng_bp-lg} {
    max-width: 1020px;
  }
}

.ng-g-main {
  @include stack(var(--s1));
  flex: 1 0 auto;
}

.ng-l-grid {
  display: grid;
  grid-gap: var(--s1);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

// @supports (width: min(250px, 100%)) {
//   .ng-l-grid {
//     grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
//   }
// }
